name: Sync to Public Repo

on:
  push:
    branches:
      - krishna-changes

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Push to public repo
        env:
          PAT: ${{ secrets.TARGET_REPO_PAT }}
        run: |
          git config --global credential.helper store
          echo "https://x-access-token:${PAT}@github.com" > ~/.git-credentials
          git remote add public https://github.com/KrishnaMehta123/TestPublicIntegration.git
          git push public krishna-changes:main --force
